<a href="https://colab.research.google.com/github/chauhan971/CardioGoodFitness-Analysis/blob/main/Cardio_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
mydata=pd.read_csv("/content/CardioGoodFitness.csv")

In [3]:
mydata.sample(10)

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
5,TM195,20,Female,14,Partnered,3,3,32973,66
101,TM498,25,Male,14,Single,3,3,45480,95
17,TM195,23,Male,16,Partnered,4,3,39795,94
138,TM498,45,Male,16,Partnered,2,2,54576,42
103,TM498,25,Male,14,Partnered,4,3,45480,170
137,TM498,40,Male,16,Partnered,3,3,64809,95
77,TM195,46,Female,16,Partnered,3,2,60261,47
166,TM798,29,Male,14,Partnered,7,5,85906,300
71,TM195,38,Male,16,Partnered,3,3,56850,75
60,TM195,33,Female,16,Partnered,3,3,46617,85